# Dependency directories
node_modules/

# Build outputs
dist/
dist-portable-x64/
dist-portable-arm/
*.exe
*.pfx

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Certificate
*.ps1
sidekick-ruka.pfx

# IDE files
.vscode/
.idea/

# Other
*.bat

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build_error.log
build_log*
